header {
    grid-area: header;
    background-color: #F29E6D;
    padding: 20px;
    font-family: Pacifico;
    font-size: 80px;
    display: flex;
    align-items: center;
}

article {
    grid-area: article;
    background-color: #F2C094;
    padding: 20px;
}

nav {
    grid-area: nav;
    background-color: #F2ACC6;
    padding: 20px;
}

social { 
    grid-area: social;
    background-color: #f9d3e1;
    margin-top: 130px;
    margin-bottom: 90px;
}

footer {
    grid-area: footer;
    background-color: #F29E6D;
    padding: 9px;
}