@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #f9d3e1;
    display: grid;
    grid-template-areas: 
    "header header social"
    "article nav social"
    "footer footer social";
    grid-template-rows: 100px 1fr 60px;
    grid-template-columns: 1fr 20% 15%;
    grid-gap: 30px;
    height: 90vh;
    margin: 30px;
    font-size: 12px;
    color: #D95B5B;
    text-align: justify;
}

.social {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 90px;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 10px;
}

a {
    color: #f9d3e1;
    background-color: #D95B5B;
    text-decoration: none;
}

a:hover {
    color: #D95B5B;
    background-color: #f9d3e1;
    text-decoration: none;
}