* {
    box-sizing: border-box; 
}

body {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 2em solid #ec8889;
    margin: 0px;
    height: 100vh;
    font-family: Roboto Slab;
    font-size: 1.2em;
    font-weight: 200;
    text-align: justify;
}

bg {
    display: flex;
    flex-direction: row;
    flex: 3;
    align-items: center;
    justify-content: center;
    margin: 10vh 30vh 10vh 40vh;

}

bg > info {
    flex: 3;
}

bg > socials {
    flex: 1;
}

bg, socials, info {
    padding: 1em;
}

